@media (max-width: 599px) {
  .c-step-body {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
  }
}

a {
  text-decoration: none;
}

a:link {
  color: $lime-9;
}

a:visited {
  color: $lime-10;
}

a:hover {
  text-decoration: underline;
}

// On this way you can set a different font 
// Put this into index.html: <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
// *:not(i) {
//   font-family: ‘PT Sans’, sans-serif;
// }
